@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */
body{
    background: rgb(248, 248, 248);
    scroll-behavior: smooth;
    margin: 0px;
    padding: 0px;
}
.ptographImage{
    width: 220px;
    height: 260px;
}

@media screen and (max-width : 500px) {
    .ptographImage{
        width: 350px !important;
        border:1px solid white;
    }
    .inputEye{
        flex-direction: column;
    }
}
.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
    color: white !important;
    border: 1px solid white;
    border-radius: 50%;
    
    background: white !important;
}
.slick-prev {
  display: none !important;
}
.slick-next{
    display: none !important;
}
.slick-dots {
    position: absolute;
    bottom: -25px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: right !important;
    
    
 
}


/* loader css starting from here */
.loaderMain {
    width: 100vw !important;
    height: 100vh !important;
    position: absolute;
    top: 0px;
    display: flex;
    background: rgba(0, 0, 0, 0.09);
    justify-content: center;
    align-items: center;
    z-index: 100000 !important;
  }
  .loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: #FFF #FFF transparent transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after,
  .loader::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent transparent #FF3D00 #FF3D00;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
  }
  .loader::before {
    width: 32px;
    height: 32px;
    border-color: #FFF #FFF transparent transparent;
    animation: rotation 1.5s linear infinite;
  }
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
